
<!-- Section Divider -->
<div class="section-divider">
  <h2>Community Work</h2>
  <hr>
</div>

<!-- Portfolio Section -->
<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">

      <!-- CERT -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#cert" class="portfolio-box">
          <img src="img/portfolio/CERT.png" alt="CERT">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Community Emergency Response Team (CERT)</div>
            </div>
          </div>
        </a>
      </div>
      
      <!-- IBM -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#ibm" class="portfolio-box">
          <img src="img/portfolio/IBM.png" alt="IBM">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">IBM</div>
            </div>
          </div>
        </a>
      </div>

      <!-- EAO -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#eao" class="portfolio-box">
          <img src="img/portfolio/EAO.png" alt="EAO">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Egyptian American Organization (EAO)</div>
            </div>
          </div>
        </a>
      </div>

      <!-- Toastmasters -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#toastmasters" class="portfolio-box">
          <img src="img/portfolio/toastmasters.png" alt="Toastmasters">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Toastmasters International</div>
            </div>
          </div>
        </a>
      </div>

      <!-- PMI -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#pmi" class="portfolio-box">
          <img src="img/portfolio/PMI.png" alt="PMI">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Project Management Institute (PMI)</div>
            </div>
          </div>
        </a>
      </div>

      <!-- SWE -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#swe" class="portfolio-box">
          <img src="img/portfolio/SWE.png" alt="SWE">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Society of Women Engineers (SWE)</div>
            </div>
          </div>
        </a>
      </div>

      <!-- NCCM -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#nccm" class="portfolio-box">
          <img src="img/portfolio/NCCM.png" alt="NCCM">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Muslim National Council of Canada (NCCM)</div>
            </div>
          </div>
        </a>
      </div>

      <!-- Egypt Scholars -->
      <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="#egyptscholars" class="portfolio-box">
          <img src="img/portfolio/ES.png" alt="Egypt Scholars">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">Egypt Scholars</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Begin Detailed Project Descriptions -->
<section class="project-description" id="cert">
  <div class="container">
    <h2 class="project-title">Community Emergency Response Team (CERT)</h2>
    <hr>
    <p>
      During a large-scale disaster, the response of any community’s emergency services may be delayed or overwhelmed for a variety of reasons.
      This leaves the citizens of the community — family, neighbors, and co-workers — to provide for their own well-being and safety until professional responders arrive.
      As a member of the community, you can help the City respond to a disaster by preparing your family, home, school, and work.
      This reality is the cornerstone of the Community Emergency Response Team (CERT) program.
    </p>
  </div>
</section>

<section class="project-description" id="ibm">
  <div class="container">
    <h2 class="project-title">IBM</h2>
    <hr>
    <p>
      Throughout my extensive tenure at IBM, spanning both Canada and the United States, I have passionately dedicated myself to volunteerism,
      embracing roles that promote inclusivity, mentorship, and leadership development.
    </p>
    <p>
      In my current role as the Chair of the Multicultural Women Business Resource Group, I spearhead initiatives aimed at building a vibrant
      leadership network for multicultural women globally. My focus is on celebrating cultural diversity, fostering cross-cultural understanding,
      and creating pathways for professional growth. By organizing leadership programs, workshops, and networking events, I strive to empower women
      at IBM to unlock their full potential and advance in their careers.
    </p>
    <p>
      Additionally, I am a certified coach and mentor through IBM's Blue Core Coaching program, where I provide personalized career coaching and guidance
      to my colleagues. My goal is to help them align their professional aspirations with actionable plans, enabling them to achieve both their career and life goals.
    </p>
    <p>
      My volunteer work also extends to talent acquisition and STEM advocacy. I have actively participated in career fairs at local universities,
      representing IBM to prospective talent, and educating students about opportunities within the company. Furthermore, I am committed to inspiring
      the next generation of women in technology through my involvement in STEM events such as 'Girls Who Code'. These initiatives allow me to contribute
      to a more inclusive and diverse future for the tech industry.
    </p>
    <p>
      Through these various volunteer roles, I aim to make a meaningful impact by fostering an environment of support, learning, and empowerment within IBM and beyond.
    </p>
  </div>
</section>

<section class="project-description" id="eao">
  <div class="container">
    <h2 class="project-title">Egyptian American Organization (EAO)</h2>
    <hr>
      <p>As the Vice-Chair of the Egyptian American Organization (EAO) and previously serving as its Secretary, I am dedicated to fostering a 
        strong, connected, and culturally enriched community for Egyptian Americans. The EAO serves as a vital platform for preserving the rich
        cultural heritage of Egypt while promoting mutual understanding between the Egyptian and American communities.</p>
      <p>In my current role, I lead a variety of initiatives and events designed to strengthen community bonds and celebrate our shared heritage. From cultural festivals
        and educational workshops to networking events and charitable activities, I work to create opportunities for Egyptian Americans to connect, 
        preserve their traditions, and proudly share their successes within the broader community.</p>
      <p>My efforts are focused on bridging cultural gaps, promoting dialogue, and ensuring that the voices of the Egyptian American community are both heard and valued. Through this role,
        I am committed to building a more inclusive and culturally aware society, where traditions are honored and new connections are 
        continually forged.</p>
    </div>
  </div>
</section>

<section class="project-description" id="toastmasters">
  <div class="container">
    <h2 class="project-title">Toastmasters International</h2>
    <hr>
      <p>For nearly 15 years, I have been an active member of Toastmasters International, dedicating my time to enhancing communication, leadership,
        and public speaking skills within the community. My journey with Toastmasters has been both rewarding and transformative, allowing me to 
        contribute significantly to multiple chapters.</p>
      <p>As a charter member of the IBM Ottawa Toastmasters Chapter, I played a pivotal role in its
        foundation and growth. During my tenure as VP Education and later as Chair of the chapter, I led initiatives to design and deliver structured
        training programs, organize speaking events, and mentor members to achieve their personal and professional goals. My focus was on creating
        an empowering environment that encouraged continuous learning and confidence-building.
      <p>A few years later, I extended my contributions to the JPL Caltech Toastmasters, where I served as VP Public Relations and VP Membership. In 
        these roles, I was responsible for enhancing the chapter's visibility, managing membership growth, and fostering a welcoming and dynamic 
        community. My efforts helped increase engagement, attract new members, and promote the benefits of effective communication.</p>
      <p>Additionally, I have had the privilege of serving as a judge in various speech
        competitions, providing constructive feedback and encouraging speakers to refine their skills.</p>
    </div>
  </div>
</section>

<section class="project-description" id="pmi">
  <div class="container">
    <h2 class="project-title">Project Management Institute (PMI)</h2>
    <hr>
      <p>Since 2019, I have been an active member of the Project Management Institute (PMI), volunteering across multiple chapters and at the international
        level. In Canada, I served on the New Member Committee of the PMI Ottawa Chapter, where I helped integrate new members through mentorship programs.
        After moving to the U.S., I joined the PMI Los Angeles Chapter and currently I am a member of the PMI Orange County Chapter. </p>
      <p>At the global level, I have also served as a judge and reviewer for PMI’s Project of the Year Award, evaluating projects based on their impact 
        and adherence to best practices. </p>
    </div>
  </div>
</section>

<section class="project-description" id="swe">
  <div class="container">
    <h2 class="project-title">Society of Women Engineers (SWE)</h2>
    <hr>
      <p>As a long-time member of the Society of Women Engineers (SWE), I am dedicated to empowering women to pursue their passions in STEM fields. My volunteer
        work includes reviewing scholarship applications to help aspiring women secure funding for their undergraduate and graduate studies in STEM. Through 
        this role, I support SWE’s mission to create opportunities for women to thrive and lead in science, technology, engineering, and mathematics.</p>
    </div>
  </div>
</section>

<section class="project-description" id="nccm">
  <div class="container">
    <h2 class="project-title">Muslim National Council of Canada (NCCM)</h2>
    <hr>
      <p>As the Leader of the Interfaith Committee at the Muslim National Council of Canada (NCCM), I played a key role in fostering unity and inclusivity by 
        organizing and leading events with diverse faith groups. These initiatives focused on promoting understanding, sharing religious perspectives, and 
        highlighting shared values and commonalities among different communities. My work with NCCM reflects my commitment to building bridges and celebrating 
        the rich diversity of the Canadian fabric.</p>
    </div>
  </div>
</section>

<section class="project-description" id="egyptscholars">
  <div class="container">
    <h2 class="project-title">Egypt Scholars</h2>
    <hr>
      <p>Education is the main pillar of any civilization. Egypt Scholars is a volunteer based organization that supports knowledge seekers in their fields, 
        by faciliating the exchange of scientifc and professional knowledge. I had the honor of volunteering at Egypt Scholars, as Director of Project Management. 
        In my role, I led various educational events to support students and knowledge seekers in various fields of science and technology. </p>
    </div>
  </div>
</section>
