<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <!-- Service 1 -->
      <div class="col-lg-6 col-md-6">
        <div class="service-box">
          <img src="img/project_management_consulting.png" alt="Project Management Consulting" class="img-responsive" style="margin: 0 auto; max-width: 100%; height: auto;">
          <h3 style="margin-top: 15px;">Project Management Consulting</h3>
        </div>
      </div>

      <!-- Service 2 -->
      <div class="col-lg-6 col-md-6">
        <div class="service-box">
          <img src="img/teaching.png" alt="Teaching" class="img-responsive" style="margin: 0 auto; max-width: 100%; height: auto;">
          <h3 style="margin-top: 15px;">Teaching</h3>
        </div>
      </div>
    </div>
  </div>
</section>
